<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>

  <div>

    <a class="navbar-brand" title="Login into Account" routerLink="/login"  routerLinkActive="active" *ngIf="!loggedIn" >Login</a>
    <a class="navbar-brand" title="LogOut from Account" href="#" (click)="auth.logout()"  routerLinkActive="active" *ngIf="loggedIn" >Logout</a>
    <a class="navbar-brand" title="Create new Account" routerLink="/signup" routerLinkActive="active">Sign-up</a>
    <a class="navbar-brand" title="My Profile" routerLink="/profile" routerLinkActive="active">Profile</a>

  </div>

</nav>
