<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>

  <div>

    <a class="navbar-brand" title="Login into Account" routerLink="/login"  routerLinkActive="active" *ngIf="!loggedIn" >Login</a>
    <a class="navbar-brand" title="LogOut from Account" href="#" (click)="logout($event)"  routerLinkActive="active" *ngIf="loggedIn" >Logout</a>
    <a class="navbar-brand" title="Create new Account" routerLink="/signup" routerLinkActive="active" *ngIf="!loggedIn">Sign-up</a>
    <a class="navbar-brand" title="My Profile" routerLink="/profile" routerLinkActive="active" *ngIf="loggedIn">Profile</a>

  </div>

</nav>
